body{
  margin: 0px;
}
h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 20px;
}
h2, h3{
  border: 1px red solid;
  padding: 20px;
  margin: 10px;
  width: 200px;
  display: inline-block;
}
#grid{
  border: 3px solid pink;
  display: grid;
  grid-template-columns: 100px 1fr;
}
#grid ol{
  padding-inline-start: 30px;
  border-right: solid 1px gray;
}
#grid #article{
  padding-left: 10px;
  padding-top: 10px;
}
#status{
  color: red;
  display:none;
}
@media(max-width:300px){
  #status{
    display:inline;
  }
  #grid{
    border: 3px solid pink;
    display: block;
  }
  #grid ol{
    border-right: none;
    border-bottom: solid 1px gray;
    padding-bottom: 10px;
  }
}
